html, body {
                color: #000;
                font-family: 'Raleway', sans-serif;
                font-weight: 100;
                height: 100vh;
                margin: 0;
                padding:0;
            }

            .full-height {
                height: 100vh;
            }

            .flex-center {
                align-items: center;
                display: flex;
                justify-content: center;
            }

            .position-ref {
                position: relative;
            }

            .top-right {
                position: absolute;
                right: 10px;
                top: 18px;
            }

            .content {
                position:absolute;
                color:#fff;
                top:0;
                left:0;
                right:0;
                text-align: center;
                height:240px;
                padding:10px;
                background-color: #D6522C;
            }

            .content .logo {

                padding-top:60px;

            }


            .content .profiellogo {

            padding:5px;

            }

            .title {
                font-size: 84px;
            }

            .navigation {

            margin-top:15px;
            display:none;
            border: 1px solid #D6522C;

            }

            .navigation > a {
                color: #D6522C;
                display:block;
                padding: 0 25px;
                font-size: 12px;
                font-weight: 600;
                line-height:25px;
                letter-spacing: .1rem;
                text-decoration: none;
                text-transform: uppercase;

            }

            .navigation > a:hover {

                color:black;
                

            }



            .m-b-md {
                margin-bottom: 30px;
            }

            h3.titel {

                text-align:center;
                margin-top:25px;
                padding:5px;
                color: #D6522C;

            }

            a.registreerlink {

                color:#D6522C;
                text-decoration: none;

            }

            label {
                
                color:black;

            }


            h4.profiel {

                
                text-align: center;
                font-size:13px;


            }

            .profielicon {

                position:absolute;
                top:0;
                right:0;
                width:30px;
                padding:5px;

            }

            .inhoud {

                padding-top:20px;

            }